/* @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap'); */

body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
li{
    display: inline-block;
}
a{
    text-decoration: none;
}
.container{
    width: 85%;
    margin: 0 auto;
}
span{
    color: #ED563B;
}
.bg-video{
    min-width: 100%;
    max-width: 100%;
    min-height: 100vh;
    max-height: 100vh;
    object-fit: cover;
    position: absolute;
    overflow: hidden;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
nav{
    background: rgba(250,250,250,0.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}


.main-nav{
    display: flex;
    line-height: 32px;
}
.logo-area{
    width: 25%;
}
.logo-area h1 a{
    color: #FFFFFF;
    font-size: 24px;
    font-weight: 900;
}
.nav-area{
    width: 75%;
}
.nav-area ul{
    display: flex;
    justify-content: flex-end;
}
.nav-area ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 10px;
}
.nav-area ul li a{
    color: #FFFFFF;
}
.header-banner{
    position: absolute;
    background-color: rgba(35,45,57,0.8);
    top: 0;
    left: 0;
    width: 100%;
    bottom: 0;
}

.banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.banner-content .top-title h3{
    font-size: 18px;
    font-weight: 800;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}
.banner-content .main-title h1{
    font-size: 84px;
    font-weight: 900;
    margin: 20px 0;
    color: #FFFFFF;
    letter-spacing: 0.5px;
}
.btn{
    background: #ED563B;
    color: #FFFFFF;
    padding: 10px 30px;
}

/* Choose Program Section */
.choose-program{
    padding: 40px 0;
}
.section-title{
    text-align: center;
}
.section-title h2{
    margin-bottom: 10px;
    font-size: 28px;
}
.section-intro p{
    color: #7A7A7A;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 25px;
    padding: 0 300px;
    text-align: center;
}

.programs-list{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 60px 0px;
}
.program{
    display: flex;
    flex-wrap: wrap;
}
.program-details{
    width: 70%;
    margin-left: 5%;
}
.program-title h2{
    margin: 0;
    font-size: 19px;
}
.program-info p{
    margin: 5px 0;
    font-size: 14px;
    color: #7A7A7A;
}

/* Promotion Section style */
.promotion{
    background: url(../Assets/images/cta-bg.jpg);
    text-align: center;
    padding: 120px 0;
    background-size: cover;
    background-position: center center;
    color: #FFFFFF;
}
.promotion .section-title h2{
    font-size: 36px;
    letter-spacing: 1px;
}
.promotion .intro{
    padding: 0 200px;
    margin-bottom: 20px;
}

/* Our Classes Section style */
.our-classes{
    padding: 50px 0;
}
.training-classes{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.schedule-classes{
    width: 32%;
    margin-right: 3%;
}
.schedule-classes ul li{
    background-color: #fff;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    border-radius: 5px;
    padding: 25px 0;
    width: 100%;
    margin-bottom: 20px;
}
.schedule-classes ul li:last-child{
    background-color: #ED563B;
}
.schedule-classes ul li:last-child a{
    color: #FFFFFF;
}
.class a{
    text-transform: capitalize;
    display: flex;
    align-items: center;
    font-size: 18px;
    color: #232d39;
    letter-spacing: 0.5px;
    font-weight: 600;
    transition: all 0.3s;
}
.class img{
    margin: 0  10px;
}
.demo-class{
    width: 65%;
}
.demo-class img{
    width: 100%;
    border-radius: 5px;
}
.demo-class p{
    color: #7a7a7a;
}

/* Schedule Section Style Here */
.schedule{
    background: url(../Assets/images/schedule-bg.jpg);
    background-size: cover;
    padding-top: 40px;
    padding-bottom: 80px;
}
.schedule .section-title{
    color: #FFFFFF;
}
.schedule .section-intro p{
    color: #FFFFFF;
}
.schedule-days{
    text-align: center;
}
.schedule-days ul li a{
    color: #FFFFFF;
    font-size: 14px;
}
.schedule-table table{
    width: 80%;
    margin: 0 auto;
    border-collapse: collapse;
}
.table-cell{
    height: 100px;
    border: 1px solid #ddd;
    color: #FFFFFF;
    text-align: center;
}


.trainer{
    padding-top: 40px;
    padding-bottom: 100px;
}
.trainer .article-section{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.trainer article{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 15px rgb(0 0 0 / 10%);
    padding: 40px;
    width: 25%;
}
.trainer article .feature-image img{
    width: 100%;
}
.designation{
    margin-top: 10px;
}
.trainer-name h3{
    margin: 5px 0;
}
.share-icons ul{
    padding: 0;
}
.share-icons ul li {
    margin-right: 12px;
}
.share-icons ul li a{
    color: #232d39;
    transition: all .3s;
}

/* Contact Section Style Here */
.contact-section{
    display: flex;
}
.map{
    width: 50%;
}
.form-area{
    background: url(../Assets/images/contact-bg.jpg);
    background-size: cover;
    width: 50%;
}
.contact-form{
    background-color: #fff;
    margin: 100px 60px;
    border-radius: 5px;
}
.contact-form form{
    padding: 40px;
    display: flex;
    flex-direction: column;
}
.name-email-field{
    display: flex;
    justify-content: space-between;
}
.name, .email{
    width: 45%;
}
.contact-form form input, .contact-form form textarea{
    color: #7a7a7a;
    font-size: 13px;
    border: 1px solid #ddd;
    background-color: #fff;
    width: 100%;
    height: 40px;
    outline: none;
    line-height: 40px;
    padding: 0 10px;
    margin-bottom: 30px;
}
.contact-form form .btn{
    width: 30%;
    background: #ED563B;
    color: #FFFFFF;
}

footer .copyright p{
    text-align: center;
}

/* Responsive Code Here */
/* Mobile Device */
@media only screen and (max-width:425px) {
    .form-area, .map{
        width: 100%;
    }
    .main-nav{
        flex-direction: column;
    }
    .logo-area, .nav-area{
        width: 100%;
    }
    .logo-area h1 a{
        font-size: 14px;
        display: inline-block;
        text-align: center;
    }
    .nav-area ul{
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .bg-video, .banner-content, .header-banner{
        min-height: 120vh;
    }
    .banner-content{
        padding-top: 120px;
    }
    .nav-area ul li{
        padding: 0;
    }
    .banner-content .top-title h3{
        font-size: 14px;
        margin: 0;
    }
    .banner-content .main-title h1{
        font-size: 24px;
    }
    .section-intro p{
        padding: 0;
    }
    .programs-list{
        grid-template-columns: 1fr;
    }
    .program{
        flex-direction: column;
        align-items: center;
    }
    .program .program-img img{
        width: 100%;
        align-self: flex-start;
    }
    .program-details{
        width: 100%;
    }
    .training-classes{
        flex-direction: column;
    }
    .schedule-classes , .demo-class{
        width: 100%;
    }
    .schedule-classes ul{
        padding: 0;
    }
    .table-cell{
        font-size: 12px;
    }
    .trainer article{
        width: 100%;
        margin-bottom: 20px;
    }
    .name-email-field{
        flex-direction: column;
    }
    .name , .email{
        width: 100%;
    }
    .contact-form form .btn{
        width: 100%;
    }
}